<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{settings.google_tag}}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- Start of status page code -->
<script src="{{asset 'statuspage.js'}}"></script>
<!--Below is what generates the banner HTML-->

<div id = "errormessage" style="display:None"></div>

<script>
   var client = StatusPage("{{settings.statuspage_component}}");
   client.subscribe(function(error, data) {
   if (error) {
       console.error(error);
   } else {
       console.log(data);
       console.log(data.status);
       var x = document.getElementById("errormessage");
       if(data.status  != "resolved"){
           x.style.display = "block";
           x.innerHTML = '<i class="fa fa-exclamation fa-2x" aria-hidden="true"></i>&nbsp; &nbsp;' + data.body
       } else {
           x.style.display = "none";
           x.html = ''
       }
   }
   });
</script>

<!-- End of status page code -->

{{#is settings.product_name_text 'JSTOR'}}
<header class="header header-jstor">
{{else}}
<header class="header">
{{/is}}
  <div id="skipNav"><a class="show-on-focus" href="#main-content">Skip to Main Content</a></div>
  {{#is settings.product_name_text 'JSTOR'}}
  <div class="logo logo-jstor">
  {{else}}
  <div class="logo">
  {{/is}}
    <a href="{{settings.product_homepage}}">
      <img src="{{settings.logo}}" alt="{{settings.product_name_text}}">
    </a>
  </div>

  <div class="nav-wrapper">
    <span class="icon-menu" tabindex="0" role="button" aria-controls="user-nav" aria-expanded="false" aria-label="{{t 'toggle_navigation'}}"></span>
    <nav class="user-nav" id="user-nav" role="navigation" aria-label="global navigation">
      <a href="{{settings.marketing_page}}">About {{settings.marketing_page_name}}</a>

      {{#is settings.support_name_text_label 'JSTOR Support'}}
      <a class="current" href="https://support.jstor.org/hc/en-us">Support</a>
      <a href="https://support.publishers.jstor.org/hc/en-us">Publishers</a>
      {{/is}}

      {{#is settings.support_name_text_label 'JSTOR Publisher Support'}}
      <a href="https://support.jstor.org/hc/en-us">Support</a>
      <a class="current" href="https://support.publishers.jstor.org/hc/en-us">Publishers</a>
      {{/is}}

      <a href="{{settings.contact_us_page}}">Contact Us</a>
      <a class="button" href="{{settings.login_link}}">Log in to {{settings.login_product_name}}</a>
      <!--{{link 'new_request' class='submit-a-request'}}-->
    </nav>

    {{#if signed_in}}
      <div class="user-info dropdown">
        <button class="dropdown-toggle" aria-haspopup="true">
          {{user_avatar class="user-avatar"}}
          <span class="hide-on-mobile">
            {{user_name}}
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="dropdown-chevron-icon" aria-hidden="true">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
            </svg>
          </span>
        </button>
        <div class="dropdown-menu" role="menu">
          {{link "my_activities" role="menuitem"}}
          {{my_profile role="menuitem"}}
          {{change_password role="menuitem"}}
          {{link "sign_out" role="menuitem"}}
        </div>
      </div>
    {{/if}}
  </div>
</header>

"label": "support_name_text_label",
      "value": "JSTOR Publisher Support"